<!--sidebar-menu-->
<div id="sidebar"><a href="#" class="visible-phone"><i class="icon icon-home"></i> Dashboard</a>
  <ul>
    <li class="active acbgcolor" ><a href="/admin/dashboard"><i class="icon icon-home"></i> <span>Dashboard</span></a> </li>
    <li class="submenu acbgcolor"> <a href="/admin/courselist"><i class="icon icon-th-list"></i> <span>Courselist</span> <span class="label label-important">2</span></a>
      <ul>
        <li><a href="/admin/courselist/add-courselist">Add New Courselist</a></li>
        <li><a href="/admin/courselist">Courselists</a></li>
      </ul>
    </li>
    <li class="submenu acbgcolor"> <a href="/admin/center"><i class="icon icon-th-list"></i> <span>Center</span> <span class="label label-important">2</span></a>
      <ul>
        <li><a href="/admin/center/add-center">Add New Center</a></li>
        <li><a href="/admin/center">Centers</a></li>
      </ul>
    </li>
    <li class="submenu acbgcolor"> <a href="#"><i class="icon icon-th-list"></i> <span>Coursedetail</span> <span class="label label-important">2</span></a>
      <ul>
        <li><a href="/admin/coursedetail/add-coursedetail">Add New Coursedetail</a></li>
        <li><a href="/admin/coursedetail">Coursedetails</a></li>
      </ul>
    </li>
    <li class="submenu acbgcolor"> <a href="#"><i class="icon icon-th-list"></i> <span>Departmentplacements</span> <span class="label label-important">2</span></a>
      <ul>
        <li><a href="/admin/departmentplacements/add-departmentplacements">Add New Departmentplacements</a></li>
        <li><a href="/admin/departmentplacements">Departmentplacements</a></li>
      </ul>
    </li>
    <li class="submenu"> <a href="#"><i class="icon icon-th-list"></i> <span>Facilitis</span> <span class="label label-important">2</span></a>
      <ul>
        <li><a href="/admin/facilitis/add-facilitis">Add New Facilitis</a></li>
        <li><a href="/admin/facilitis">Facilitis</a></li>
      </ul>
    </li>
    <li class="submenu"> <a href="#"><i class="icon icon-th-list"></i> <span>Facultyprofiles</span> <span class="label label-important">2</span></a>
      <ul>
        <li><a href="/admin/facultyprofiles/add-facultyprofiles">Add New Facultyprofiles</a></li>
        <li><a href="/admin/facultyprofiles">Facultyprofiles</a></li>
      </ul>
    </li>
    <li class="submenu"> <a href="#"><i class="icon icon-th-list"></i> <span>Hiringcompanises</span> <span class="label label-important">2</span></a>
      <ul>
        <li><a href="/admin/hiringcompanise/add-hiringcompanises">Add New Hiringcompanises</a></li>
        <li><a href="/admin/hiringcompanises">Hiringcompanises</a></li>
      </ul>
    </li>
    <li class="submenu"> <a href="#"><i class="icon icon-th-list"></i> <span>Management</span> <span class="label label-important">2</span></a>
      <ul>
        <li><a href="/admin/management/add-management">Add New Management</a></li>
        <li><a href="/admin/management">Management</a></li>
      </ul>
    </li>
    <li class="submenu"> <a href="#"><i class="icon icon-th-list"></i> <span>Noticeborad</span> <span class="label label-important">2</span></a>
      <ul>
        <li><a href="/admin/noticeborad/add-noticeborad">Add New Noticeborad</a></li>
        <li><a href="/admin/noticeborad">Noticeborad</a></li>
      </ul>
    </li>
    <li class="submenu"> <a href="#"><i class="icon icon-th-list"></i> <span>Placement</span> <span class="label label-important">2</span></a>
      <ul>
        <li><a href="/admin/placement/add-placement">Add New Placement</a></li>
        <li><a href="/admin/placement">Placement</a></li>
      </ul>
    </li>
    <li class="submenu"> <a href="/admin/Programslist"><i class="icon icon-th-list"></i> <span>Programslist</span> <span class="label label-important">2</span></a>
      <ul>
        <li><a href="/admin/programslist/add-programslist">Add New Programslist</a></li>
        <li><a href="/admin/Programslist">Programslist</a></li>
      </ul>
    </li>
  </ul>
</div>


<!--sidebar-menu-->